$white_color: #fff;
$dark_color: #1D4354;
$body_color: rgba(150,150,150,0.9);
$green_color: #DCA629;
$gray_bg: #e5e5e5;
$title_bg_color: #ccf1e5;
$error_color: #ff3e3e;
$yellow_color: #eef300;
$red_color: #ff0000;
$w_100: 100%;
$position_rel: relative;
$position_abs: absolute;
$hidden: hidden;
$transparent: transparent;
$flex: flex;
$margin_auto: 0 auto;
$breakpoint_mobile_landscape: 767px;
$breakpoint_mobile_portrait: 600px;
$breakpoint_small_portrait: 380px;
$breakpoint_tablet: 1000px;
$breakpoint_mini_laptop: 1200px;
$breakpoint_laptop: 1600px;
$d_none: none;
$d_block: block;
